:root {
  --font-family: "Space Grotesk", arial, sans-serif;
  --dark-color: #0C0507;
  --secondary-color: #6F6F6F;
  --light-green: #F4F8EE;
  --extra-green: #A7E0DA;
  --extra-orange: #FBEBB8;
  --extra-blue: #E1F8FF;
  --light-color: #FFFFFF;
  --dark-green: #99CCC7;
}
